<div class="global-search">
    <div class="inner-global-search">
        <div class="search-icon"></div>
        <input autofocus class="global-search-text-box" placeholder="Search..." onkeyup='getProjects(this.value)'  />
    </div>
</div>