html, body {
    height: 100%;
}

body {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: var(--secondary-font-family);
    background-color: var(--primary-color);
    min-width: 260px;
}

/* Styles for customizing browswer scrollbar
-----------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

    ::-webkit-scrollbar:horizontal {
        height: 10px;
    }

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

/* End
-----------------------------------------------------------*/

@font-face {
    font-family: MontserratExtraBold;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

:root {
    --primary-color: #446D8C;
    --primary-font-family: MontserratExtraBold;
    --secondary-font-family: Verdana;
}

hr {
    width: 100%;
    clear: both;
    border: none;
    height: 1px;
    background: #C3C3C3;
}

ul {
    list-style-type: circle;
}

br {
    clear: both;
}

h1 {
    font-weight: bold;
    font-size: 1.40em;
    font-family: var(--primary-font-family);
    line-height: 32px;
}

/* Styles for body, footer, page title
-----------------------------------------------------------*/
footer, #body {
    display: block;
}

.page-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .page-title .inner-page-title {
        width: 92%;
        margin: auto;
        text-align: center;
    }

        .page-title .inner-page-title h1 {
            color: #FFFFFF;
        }

#body {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 28px;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

#inner-body {
    width: 40%;
    margin: auto;
    background-color: #FFFFFF;
}

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    flex-shrink: 0;
}

    footer .inner-footer {
        width: 90%;
        margin: auto;
        text-align: center;
    }

        footer .inner-footer .text-label {
            display: block;
            font-family: var(--secondary-font-family);
            font-size: 0.54em;
            font-weight: normal;
            color: #FFFFFF;
            margin-top: 28px;
        }

/* Styles for input output controls
-----------------------------------------------------------*/

.global-search {
    width: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
}

    .global-search .inner-global-search {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 6px 14px 6px 14px;
    }

        .global-search .inner-global-search h1 {
            color: #454545;
            font-weight: normal;
        }

        .global-search .inner-global-search .search-icon {
            width: 22px;
            min-width: 22px;
            height: 22px;
            min-height: 22px;
            margin-right: 10px;
            background: url('../images/searchIcon.svg') no-repeat;
        }

.scroll-top {
    position: fixed;
    visibility: hidden;
    width: 28px;
    height: 48px;
    z-index: 9999;
    border-left: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-right: 0px;
    border-bottom: 2px solid #FFFFFF;
    -webkit-border-radius: 100px 0px 0px 100px;
    -moz-border-radius: 100px 0px 0px 100px;
    border-radius: 100px 0px 0px 100px;
    background-color: var(--primary-color);
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

    .scroll-top.show-scroll-top {
        -webkit-animation: show-scroll-top 0.3s linear;
        -moz-animation: show-scroll-top 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-scroll-top 0.3s linear;
        animation-fill-mode: forwards;
    }

    .scroll-top.hide-scroll-top {
        -webkit-animation: hide-scroll-top 0.3s linear;
        -moz-animation: hide-scroll-top 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-scroll-top 0.3s linear;
        animation-fill-mode: forwards;
    }

    .scroll-top .arrow {
        text-align: center;
        margin: 11px 0px 0px 2px;
    }

@keyframes show-scroll-top {

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hide-scroll-top {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
        visibility: hidden;
        opacity: 0;
    }
}

.button {
    font-family: var(--secondary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.75em;
    color: #FFFFFF;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    border-radius: 100px;
    transition: all 0.2s linear;
}

    .button:hover {
        background-color: #FFFFFF;
        color: var(--primary-color);
    }

.global-search-text-box {
    height: 35px;
    width: 100%;
    color: #454545;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--secondary-font-family);
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-box {
    height: 35px;
    color: #454545;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--secondary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

    .global-search-text-box:focus, .text-box:focus {
        font-weight: 900;
    }


.text-box {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.popup-form-small {
    -webkit-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
    -moz-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
    box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
}

/* Styles for background popup
-----------------------------------------------------------*/

.background-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 3;
    opacity: 0;
}

    .background-popup.show-popup-background {
        display: block;
        -webkit-animation: show-popup-background 0s linear;
        -moz-animation: show-popup-background 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-background 0s linear;
        animation-fill-mode: forwards;
    }

    .background-popup.hide-popup-background {
        display: none;
        -webkit-animation: hide-popup-background 0s linear;
        -moz-animation: hide-popup-background 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-background 0s linear;
        animation-fill-mode: forwards;
    }

@keyframes show-popup-background {
    to {
        opacity: 0.2;
    }
}

@keyframes hide-popup-background {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0;
    }
}

/* Styles for popup form progress bar
-----------------------------------------------------------*/

.popup-form-progress-bar {
    display: none;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    width: 35px;
    height: 35px;
    border: 3px solid #FFFFFF;
    background: url('../images/loadingIcon.svg') no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
    -moz-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
    border-radius: 100%;
    box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
}

    .popup-form-progress-bar.show-popup-form-progress-bar {
        display: block;
        -webkit-animation: show-popup-form-progress-bar 0s linear;
        -moz-animation: show-popup-form-progress-bar 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-form-progress-bar 0s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-progress-bar.hide-popup-form-progress-bar {
        display: none;
        -webkit-animation: hide-popup-form-progress-bar 0s linear;
        -moz-animation: hide-popup-form-progress-bar 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form-progress-bar 0s linear;
        animation-fill-mode: forwards;
    }

@keyframes show-popup-form-progress-bar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-popup-form-progress-bar {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Styles for popup form small
-----------------------------------------------------------*/
.ok-div {
    cursor: pointer;
}

.popup-form-small {
    position: absolute;
    width: 22%;
    min-width: 260px;
    z-index: 5;
    border: 0px none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #FFFFFF;
    opacity: 0;
}

    .popup-form-small.show-popup-form {
        animation: show-popup-form 0.3s linear;
        -moz-animation: show-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation: show-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-small.hide-popup-form {
        -webkit-animation: hide-popup-form 0.3s linear;
        -moz-animation: hide-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-small .ok-yes-no-div {
        width: 90%;
        border: none;
        margin: 20px auto 20px auto;
    }

    /* Styles for ok yes no */

    .popup-form-small .ok-yes-no-body {
        display: flex;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .popup-form-small .ok-yes-no-icon {
        -webkit-flex: 1;
        margin-right: 10px;
        width: 70px;
        height: 70px;
        border: 1px solid var(--primary-color);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #FFFFFF;
        flex: 1;
        border-radius: 10px;
    }

        .popup-form-small .ok-yes-no-icon p {
            font-size: 3em;
            text-align: center;
            margin-top: 12px;
            color: var(--primary-color);
            font-weight: normal;
        }

    .popup-form-small .ok-yes-no-message {
        -webkit-flex: 3;
        flex: 3;
    }

@keyframes show-popup-form {

    from {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        transform: translateY(60px);
    }

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-popup-form {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        transform: translateY(60px);
        visibility: hidden;
        opacity: 0;
    }
}

/* Styles for Grid controls
-----------------------------------------------------------*/

.main-grid {
    display: flex;
    -webkit-align-items: start;
    align-items: start;
}

    .main-grid .grid-image {
        -webkit-flex: 1;
        flex: 1;
        margin-right: 6px;
    }

    .main-grid .grid-content {
        margin-right: 20px;
        -webkit-flex: 8;
        flex: 8;
    }

.grid-view {
    width: 100%;
}

    .grid-view ul {
        color: #454545;
        margin-left: 30px;
    }

.gv-project-icon {
    width: 62px;
    min-width: 62px;
    height: 62px;
}

.gv-message-value {
    font-weight: normal;
    color: var(--primary-color);
    text-align: center;
}

.gv-value {
    font-weight: bold;
    color: var(--primary-color);
}

.grid-view ul, .gv-value, .gv-message-value {
    font-size: 0.75em;
    text-decoration: none;
    line-height: 18px;
}

.gv-row, .gv-row-message {
    border-bottom: 1px solid #C3C3C3;
    padding: 20px 0px 20px 0px;
}

/* Styles for media only screen
-----------------------------------------------------------*/
@media only screen and (max-width: 1300px) {
    #inner-body {
        width: 50%;
    }

    .popup-form-small {
        width: 28%;
    }
}

@media only screen and (max-width: 1030px) {

    #inner-body {
        width: 60%;
    }

    .popup-form-small {
        width: 38%;
    }
}

@media only screen and (max-width: 800px) {

    #inner-body {
        width: 70%;
    }

    .popup-form-small {
        width: 48%;
    }
}

@media only screen and (max-width: 500px) {

    #inner-body {
        width: 80%;
    }

    .popup-form-small {
        width: 58%;
    }
}
